<div class='row'>
	<div class='col s2'>&nbsp;</div>
	<div class='col s8'>
		<h3>Welcome to your inbox.</h3>
    	<p>Here you will see a list of all your messages from riders interested in joining your carpool.  You will have the option of accepting their requesting, replying (should you wish for more information), or deleting their message.</p>
    </div>
	<div class='col s2'>&nbsp;</div>
</div>

<!-- This is the inbox. -->

<div class='row' style='min-height: 40%;'>
  <div class='col s12'>
    <table class="hoverable">
      <thead>
        <tr>
            <th data-field="sender">Sender</th>
            <th data-field="sent_at">Sent At</th>
            <th data-field="message">Message</th>
			<th data-field='approve'>Approve</th>
			<th data-field='reply'>Reply</th>
			<th data-field='delete'>Delete</th>
        </tr>
      </thead>

      <tbody>
      	<% @inbox.each do |message| %>
	        <tr>
				<td><%= User.find(message.sender_id).username %></td>
				<td><%= message.created_at %></td>
				<td><%= message.message %></td>
				<td><button class='waves-effect waves-light btn'><i class="mdi-navigation-check"></i></button></td>
				<td><button class='waves-effect waves-light btn'><i class="mdi-content-reply"></i></button></td>
				<td>
					<a href='mail/destroy/<%= message.id %>'>
					<button class='waves-effect waves-light btn' style='background-color: #d91c2d;'><i class="mdi-action-delete"></i></button></a>
				</td>
	        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<!-- This is the Outbox -->

<div class='row' style='min-height: 40%;'>
  <div class='col s12'>
    <table class="hoverable">
      <thead>
        <tr>
            <th data-field="sender">Recipient</th>
            <th data-field="sent_at">Sent At</th>
            <th data-field="message">Message</th>
        	<th data-field='delete'>Delete</th>
        	<th data-field='actions'>&nbsp;</th>
        	<th data-field='actions'>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
      	<% @outbox.each do |message| %>
	        <tr>
				<td><%= User.find(message.recipient).username %></td>
				<td><%= message.created_at %></td>
				<td><%= message.message %></td>
		        <td>
		        	<a href='/messages/<%= message.id %>'>
		        	<button class='waves-effect waves-light btn' style='background-color: #d91c2d;'><i class="mdi-action-delete"></i></button></a>
		        </td>
	        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>