<div class='container' style='min-height: 60%;'>
  <div class='row'>
    <h3>Welcome to your inbox.</h3>
      <p>The topmost table is where you can view your inbox.  If the message is an invite, the left most button will allow you to accept the invitation.  Other than that, you can either reply directly to the message or delete it from the mail system.  Below that is the outbox for showing all of your sent messages.</p>
  </div>

  <!-- This is the inbox. -->

  <div class='row' style='min-height: 40%;'>
    <div class='col s12'>
      <table class="hoverable">
        <thead>
          <tr>
              <th data-field="sender">Sender</th>
              <th data-field="sent_at">Sent At</th>
              <th data-field="message">Message</th>
              <th data-field='approve'>Approve</th>
              <th data-field='reply'>Reply</th>
              <th data-field='delete'>Delete</th>
          </tr>
        </thead>

        <tbody>
          <% @inbox.each do |message| %>
            <% message.update(read: true) if message.read == false %>
            <tr>
          <td><%= User.find(message.sender_id).username %></td>
          <td><%= message.created_at.in_time_zone("Central Time (US & Canada)") %></td>
          <td><%= message.message %></td>
          <td>
            <% if message.invite == true %>
              <%= link_to accept_rideshare_path(User.find(message.sender_id).commute.driver.id), method: :put do %>
                <button class='waves-effect waves-light btn'><i class="mdi-navigation-check"></i></button>
                <% end %>
            <% end %>
          </td>
          <td><button href='#reply_modal' data-id="<%= message.sender_id %>" data-username="<%= User.find(message.sender_id).username %>" class='modal-trigger waves-effect waves-light btn'><i class="mdi-content-reply"></i></button></td>
          <td>
            <a href='<%= destroy_message_path(message.id) %>'>
            <button class='waves-effect waves-light btn red'><i class="mdi-action-delete"></i></button></a>
          </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  <!-- This is the Outbox -->

    <div class='row' style='min-height: 40%;'>
      <div class='col s12'>
        <table class="hoverable">
          <thead>
            <tr>
                <th data-field="sender">Recipient</th>
                <th data-field="sent_at">Sent At</th>
                <th data-field="message">Message</th>
                <th data-field='delete'>Delete</th>
                <th data-field='actions'>&nbsp;</th>
                <th data-field='actions'>&nbsp;</th>
            </tr>
          </thead>

          <tbody>
            <% @outbox.each do |message| %>
              <tr>
            <td><%= User.find(message.recipient_id).username %></td>
            <td><%= message.created_at.in_time_zone("Central Time (US & Canada)") %></td>
            <td><%= message.message %></td>
                <td>
                  <a href='<%= destroy_message_path(message.id) %>'>
                  <button class='waves-effect waves-light btn red'><i class="mdi-action-delete"></i></button></a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="reply_modal" class="modal row">
  <div class="row">
    <div class="col s12">
      <h4>Reply to a message.</h4>
    </div>
  </div>
  <%= form_for @message, url: message_path, html: {class: 'col s12'} do |f| %>
    <div class="row">
      <div class="col s4">
        <label for="sender">Sender:</label>
        <input id="sender" type="text" class="validate" value='<%= current_user.username %>' disabled selected>
      </div>
      <div class="col s4">
        <label for="recipient">Recipient:</label>
        <input id="recipient" type="text" class="validate" disabled selected>
        <%= f.hidden_field :recipient_id %>
      </div>
    </div>
    <div class="row">
    	<div class="col s8">
	    	<!-- <textarea class="materialize-textarea" placeholder="Hey man!  Let's meet-up!"></textarea>
	        <label>Message:</label> -->
	        <%= f.label :message %>
	        <%= f.text_area :message, class: 'materialize-textarea' %>
    	</div>
    	<div class="col s4">
        <% if current_user.commute && current_user.commute.driver %>
          <p>
            <input name="message[invite]" type="radio" id="radio1" checked/>
            <label for="radio1">Message</label>
            <input name="message[invite]" type="radio" id="radio2" />
            <label for="radio2">Invite</label>
          </p>
        <% end %>
    		<button type='submit' class='waves-effect waves-light btn'>Send Message</button>
    	</div>
	</div>
  <% end %>
</div>

<script type="text/javascript">
	var recipientId
	var recipientUsername

	$('.modal-trigger').leanModal({
		ready: function(){
			$('#recipient').val(recipientUsername)
			$('#message_recipient_id').val(recipientId)
		}
	});

	$('.modal-trigger').click(function(){
		recipientId = $(this).attr('data-id')	
		recipientUsername = $(this).attr('data-username')
	})
</script>