<% if current_user.commute.driver %>
	<div class='row'>
		<div class='col s4'>&nbsp;</div>
		<div class='col s4'>
			<table>
				<thead>
					<tr>
						<th data-field="user">Username</th>
						<th data-field="remove">Remove</th>
					</tr>
				</thead>
				<tbody>
					<% @riders.each do |rider| %>
						<tr>
							<td><%= rider.user.username %></td>
							<td><a href="<%= remove_rider_path(rider.rideshare.id) %>"><button class='waves-effect waves-light btn' style='background-color: #d91c2d;'><i class="mdi-navigation-close"></i></button></a></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class='col s4'></div>
	</div>
<% else %>
	<div class='row'>
		<div class='col s12'>
			<table>
				<thead>
					<tr>
						<th data-field='role'>Role</th>
						<th data-field='username'>Username</th>
						<th data-field='action'>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Driver</td><td><%= @driver.user.username %></td><td><a href='#rider_message_modal' class='modal-trigger waves-effect waves-light btn'><i class='mdi-communication-email'></i></a></td>
					</tr>
					<% @driver.riders.each do |rider| %>
						<tr>
							<td>Rider</td><td><%= rider.user.username %></td>
							<td>
								<% if rider.user.username == current_user.username %> 
									<a href="<%= remove_rider_path(rider.rideshare.id) %>"><button class='waves-effect waves-light btn' style='background-color: #d91c2d;'><i class="mdi-navigation-close"></i></button></a>
								<% else %>
									<a href='#rider_message_modal' class='modal-trigger waves-effect waves-light btn'><i class='mdi-communication-email'></i></a>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
<% end %>