<div id="map-canvas" style="height: 50%; width: 66.6%; display: block; margin-left: auto; margin-right: auto;"></div>

<script type="text/javascript">
	var map;
	var closeRiders = [];

	function initialize() {
		directionsDisplay = new google.maps.DirectionsRenderer();
		var austin = new google.maps.LatLng(30.264477, -97.746192);
		var mapOptions = {
		    zoom:11,
		    center: austin
		}
		map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
		directionsDisplay.setMap(map);
	}
    initialize();

	google.maps.event.addListenerOnce(map, 'idle', function(){
		var infowindow = new google.maps.InfoWindow()
		var initial = {k: <%= @rider.commute.meetup_lat %>, D: <%= @rider.commute.meetup_lng %>}

		<% @drivers.each do |driver| %>

		var compare = {k: <%= driver.commute.meetup_lat ? driver.commute.meetup_lat : 0 %>, D: <%= driver.commute.meetup_lng ? driver.commute.meetup_lng : 0 %>}

		if (google.maps.geometry.spherical.computeDistanceBetween(initial, compare) < (<%= @rider.commute.search_distance %> * 1600) ){

			closeRiders.push({
				id: "<%= driver.id %>",
				username: "<%= driver.user.username %>"
				})

			var marker = new google.maps.Marker({
	    		position: new google.maps.LatLng(compare.k, compare.D),
	    		animation: google.maps.Animation.DROP,
	    		map: map
			});

			google.maps.event.addListener(marker, 'click', (function(marker){
					return function() {
						infowindow.setContent("<h6>Driver found!</h6><p id='recipient-username' data-id='<%= driver.user.id %>'><%= driver.user.username %></p><a href='#driver_message_modal' class='modal-trigger waves-effect waves-light btn'><i class='mdi-communication-email'></i></a>")
    					infowindow.open(map, marker);
					}

				})(marker))
		}
		<% end %>

		google.maps.event.addListener(infowindow, 'domready', function() {
      				$('.modal-trigger').leanModal({
      					ready: function() {
      						var recipient = $('p#recipient-username').text()
      						var recipientId = $('p#recipient-username').attr('data-id')
    						$('#recipient').val(recipient)
    						$('#message_recipient_id').val(recipientId)
    					}
      				});
				});

		// var table = $('#close-drivers-table')
		// closeRiders.map(function(driver){
		// 	var $tr = $('<tr>')

		// 	var $td = $('<td>')
		// 	var $messageTd = $('<td>')
		// 	var $inviteTd = $('<td>')

		// 	var $messageButton = $('<button>').addClass('waves-effect waves-light btn')
		// 	var $messageIcon = $('<i>').addClass('mdi-communication-email')

		// 	var $inviteButton = $('<button>').addClass('waves-effect waves-light btn')
		// 	var $inviteIcon = $('<i>').addClass('mdi-content-add-circle-outline')

		// 	$td.text(driver.username).attr('data-driver-id', driver.id)
		// 	$tr.append($td)
		// 	$messageButton.append($messageIcon)
		// 	$messageTd.append($messageButton)
		// 	$tr.append($messageTd)
		// 	$inviteButton.append($inviteIcon)
		// 	$inviteTd.append($inviteButton)
		// 	$tr.append($inviteTd)
		// 	table.append($tr)
		// })
	});
	
	console.log('closeRiders', closeRiders)

</script>

<div id="driver_message_modal" class="modal row">
	<div class="row">
		<div class="col s12">
			<h4>Send a message to the Driver.</h4>
		</div>
	</div>
	<%= form_for @message, url: message_path, html: {class: 'col s12'} do |f| %>
    <div class="row">
      <div class="col s4">
        <label for="sender">Sender:</label>
        <input id="sender" type="text" class="validate" value='<%= current_user.username %>' disabled selected>
      </div>
      <div class="col s4">
        <label for="recipient">Recipient:</label>
        <input id="recipient" type="text" class="validate" disabled selected>
        <%= f.hidden_field :recipient_id %>
      </div>
    </div>
    <div class="row">
    	<div class="col s8">
	        <%= f.label :message %>
	        <%= f.text_area :message, class: 'materialize-textarea' %>
    	</div>
    	<div class="col s4">
    		<button type='submit' class='waves-effect waves-light btn'>Send Message</button>
    	</div>
	</div>
  <% end %>
</div>