<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Carpool</a>
    <ul id="nav-mobile" class="right side-nav">
    	<% if current_user %>
			<% if current_user.commute %>
    			<li><%= link_to "Edit Commute", edit_commute_path(current_user, current_user.commute) %></li>
			<% else %>
    			<li><%= link_to "Create Commute", new_commute_path(current_user) %></li>
			<% end %>
			<% if current_user.commute != nil %>
				<% if current_user.commute.driver %>
					<li><%= link_to 'Find Riders', edit_driver_path(current_user.commute.driver.id) %></li>
					<li><%= link_to 'Show Carpool', show_rideshare_path if current_user.commute.driver.rideshares %></li>
				<% elsif current_user.commute.rider %>
					<li><%= link_to 'Find Drivers', edit_rider_path(current_user.commute.rider.id) %></li>
					<li><%= link_to 'Show Carpool', show_rideshare_path if current_user.commute.rider.rideshare %></li>
				<% end %>
			<% end %>
    		<li>
    			<a href="/users/<%= current_user.id %>/inbox">Messages
    				<% if current_user.messages_as_recipient.where(read: false).length > 0 %>
						<span class="new badge red"><%= current_user.messages_as_recipient.where(read: false).length %></span>
    				<% end %>
    			</a>
    		</li>
    		<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
    	<% else %>
			<li><%= link_to "Log In", '#log_in_modal', class: "modal-trigger" %></li>
			<li><%= link_to "Sign Up", '#sign_up_modal', class: "modal-trigger" %></li>
      	<% end %>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
</nav>

<!-- Log In Modal Structure -->
<div id="log_in_modal" class="modal row">
	<h4>Log In</h4>
	<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "col s12"}) do |f| %>
		<div class="row">
			<div class="input-field col s12">
				<%= f.label :email %><br />
				<%= f.email_field :email, autofocus: true, class: "validate" %>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<%= f.label :password %><br />
				<%= f.password_field :password, autocomplete: "off", class: "validate" %>
			</div>
		</div>

		<% if devise_mapping.rememberable? -%>
			<div class="row">
				<div class="input-field col s12">
	  				<%= f.check_box :remember_me %>
	  				<%= f.label :remember_me %>
				</div>
			</div>
		<% end -%>

		<div class="actions">
	    	<button class="btn waves-effect waves-light" type="submit" name="action">Log In
	    		<i class="mdi-content-send right"></i>
	  		</button>
	  	</div>
	<% end %>
	<%= render "devise/shared/links" %>
</div>
<!-- End of Log In Modal Structure -->

<!-- Sign Up Modal Structure -->
<div id="sign_up_modal" class="modal row">
	<h4>Sign Up</h4>
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  		<%= devise_error_messages! %>
  		<div class="row">
	    	<div class="input-field col s12">
	        	<%= f.label :username %><br />
	        	<%= f.text_field :username, autofocus: true, class: "validate" %>
	    	</div>
	    </div>
  		<div class="row">
  			<div class="input-field col s12">
    			<%= f.label :email %><br />
    			<%= f.email_field :email, class: "validate" %>
  			</div>
  		</div>
  		<div class="row">
	  		<div class="input-field col s12">
	    		<%= f.label :password %>
	    		<% if @validatable %>
	    			<em>(<%= @minimum_password_length %> characters minimum)</em>
	    		<% end %><br />
	    		<%= f.password_field :password, autocomplete: "off", class: "validate" %>
	  		</div>
  		</div>
  		<div class="row">
  			<div class="input-field col s12">
    			<%= f.label :password_confirmation %><br />
    			<%= f.password_field :password_confirmation, autocomplete: "off", class: "validate" %>
  			</div>
  		</div>

		<div class="actions">
    		<button class="btn waves-effect waves-light" type="submit" name="action">Sign Up
    			<i class="mdi-content-send right"></i>
  			</button>
  		</div>
	<% end %>
	<%= render "devise/shared/links" %>
</div>
<!-- End of Sign Up Modal Structure -->

<script>
	$(document).ready(function(){
    	$('.modal-trigger').leanModal();
  	});
</script>
